body {
    height: 100%;
    overflow-y: hidden;
 }
.draftboard_container {
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 1%;
    justify-content: left;
    overflow: auto
}

.position_rankings_container {
    font-family: "Trebuchet MS", sans-serif;
    display: flex;
    gap: 1%;
    justify-content: center;
    overflow: auto
}

.column {
    flex-basis: 15%;
    background: #ddd;
    min-height: 90vh;
    max-height: 90vh;
    min-width: 25vh;
    padding-left: 0.5%;
    border-radius: 10px;
    overflow-y: auto;
    
}

.column::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;  
  }
  
.column::-webkit-scrollbar {
    width: 16px;
  }
  
.column h1 {
    text-align: center;
    font-size: 130%;
    margin: 20px;
}

.tab{
    clear: both;
}
.player_card {
    background: #fff;
    margin: 2%;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 1.5vmin;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    text-align: right;
}


/* Style tab links */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
}
  
.tablink:hover {
    background-color: #777;
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#draftboard_button{
    margin-left: 20%;
}



.btn-outline-primary{
    float: left;
    margin-right: 0.5em;
}

.column_header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1em;
    margin-bottom: 0.2em;
    align-items: center;
    background-color: #ddd;
    text-align: center;
    font-family: helvetica;
    font-size: 1.1em;
    font-weight: bold;
  }
  

.column h1{
font-family: helvetica;
}
